<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head'); %>
</head>
<body>
  <header>
    <%- include ('./partials/main_nav'); %>
  </header>
  <main>
    <div>
      <br>
      <h1>Mission statement</h1>
      <h2>When it comes to a modern business a website is often a necessity <br>
          primarily because everything is virtually sold on the internet. <br>
          We can give the tools needed to market your business, and at the same <br>
          time create a superior website designed for the business's needs. A <br>
          successful website will increase the value of your business merely of <br>
          of good design, and that is what we pursue with our knowlege and experence.</h2>
    </div>
  </main>
</body>
  <%- include ('./partials/footer'); %>
</html>

