<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head'); %>
</head>
<body>
  <header>
    <%- include ('./partials/secondary_nav'); %>
  </header>
  <main>
    <div>
      <br>
      <br>
      <h1>Contact Information:</h1>
      <br>
      <h3>Name: Glenn Andrei Dacara</h3>
      <h3>Email:<a href="mailto:sudaglenn@gmail.com" target="_blank">sudaglenn@gmail.com</a></h3>
      <h3>Phone number: 289-231-3845</h3>
      <br>
    </div>
  </main>
</body>
  <%- include ('./partials/footer'); %>
</html>