<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head'); %>
</head>
<body>
  <header>
    <%- include ('./partials/secondary_nav'); %>
  </header>
  <main>
    <div>
      

    </div>
  </main>
</body>
  <%- include ('./partials/footer'); %>
</html>